<div class="juego-wrapper">
  <div class="stats-header p-shadow-4">
    <h2 class="titulo-juego">Desafío de la Tierra Media</h2>
    <div class="marcador">
      <span class="label">Aciertos: </span>
      <span class="puntos">{{ aciertos }} / 5</span>
    </div>
  </div>

  @if (!juegoTerminado && preguntaActual) {
    <div class="pregunta-container animate-fadein">
      <p-card styleClass="card-fantasia">
        <div class="enunciado">
          "{{ preguntaActual.pregunta }}"
        </div>
        
        <div class="opciones-grid">
          <button pButton pRipple type="button" (click)="responder(0)" class="p-button-gold">
            {{ preguntaActual.respuesta1 }}
          </button>
          <button pButton pRipple type="button" (click)="responder(1)" class="p-button-gold">
            {{ preguntaActual.respuesta2 }}
          </button>
          <button pButton pRipple type="button" (click)="responder(2)" class="p-button-gold">
            {{ preguntaActual.respuesta3 }}
          </button>
          <button pButton pRipple type="button" (click)="responder(3)" class="p-button-gold">
            {{ preguntaActual.respuesta4 }}
          </button>
        </div>
      </p-card>
    </div>
  }

  @if (juegoTerminado) {
    <div class="final-container animate-bouncein">
      <p-card styleClass="card-final">
        <i class="pi pi-shield icono-final"></i>
        <h3>Partida Finalizada</h3>
        <p class="mensaje">{{ mensajeFinal }}</p>
        <button pButton label="Reintentar Desafío" icon="pi pi-sync" (click)="iniciar()" class="p-button-raised p-button-warning"></button>
      </p-card>
    </div>
  }
</div>